In [ ]:
import pandas as pd
df=pd.read_csv("C:\\Users\\libin_urv2w13\\Desktop\\mljourney\\pandas-works\\famous-places-case-study\\world_famous_places_2024.csv")
print(df.shape)
print(df.columns)
print(df.head())
print(df.tail())

(30, 13)
Index(['Place_Name', 'Country', 'City', 'Annual_Visitors_Millions', 'Type',
       'UNESCO_World_Heritage', 'Year_Built', 'Entry_Fee_USD',
       'Best_Visit_Month', 'Region', 'Tourism_Revenue_Million_USD',
       'Average_Visit_Duration_Hours', 'Famous_For'],
      dtype='object')
            Place_Name        Country              City  \
0         Eiffel Tower         France             Paris
1         Times Square  United States     New York City
2        Louvre Museum         France             Paris
3  Great Wall of China          China  Beijing/Multiple
4            Taj Mahal          India              Agra

   Annual_Visitors_Millions                Type UNESCO_World_Heritage  \
0                       7.0      Monument/Tower                    No
1                      50.0      Urban Landmark                    No
2                       8.7              Museum                   Yes
3                      10.0   Historic Monument                   Yes
4                       7.5  Monument/Mausoleum                   Yes

         Year_Built  Entry_Fee_USD   Best_Visit_Month          Region  \
0              1889             35  May-June/Sept-Oct  Western Europe
1              1904              0  Apr-June/Sept-Nov   North America
2              1793             22          Oct-March  Western Europe
3  220 BC - 1644 AD             10   Apr-May/Sept-Oct       East Asia
4              1653             15          Oct-March      South Asia

   Tourism_Revenue_Million_USD  Average_Visit_Duration_Hours  \
0                           95                           2.5
1                           70                           1.5
2                          120                           4.0
3                          180                           4.0
4                           65                           2.0

                                          Famous_For
0         Iconic iron lattice tower, symbol of Paris
1  Bright lights, Broadway shows, New Year's Eve ...
2     World's most visited museum, home to Mona Lisa
3     Ancient defensive structure visible from space
4             White marble mausoleum, symbol of love
             Place_Name               Country            City  \
25         Burj Khalifa  United Arab Emirates           Dubai
26              Big Ben        United Kingdom          London
27         Tower Bridge        United Kingdom          London
28    Buckingham Palace        United Kingdom          London
29  Christ the Redeemer                Brazil  Rio de Janeiro

    Annual_Visitors_Millions             Type UNESCO_World_Heritage  \
25                       6.0       Skyscraper                    No
26                       5.5      Clock Tower                   Yes
27                       6.8           Bridge                    No
28                      15.0           Palace                    No
29                       2.2  Monument/Statue                    No

   Year_Built  Entry_Fee_USD   Best_Visit_Month          Region  \
25       2010             45          Nov-March     Middle East
26       1859              0  Apr-June/Sept-Oct  Western Europe
27       1894              0           May-Sept  Western Europe
28       1703              0          June-Sept  Western Europe
29       1931             12  Apr-June/Sept-Nov   South America

    Tourism_Revenue_Million_USD  Average_Visit_Duration_Hours  \
25                          350                           2.0
26                           65                           0.5
27                           70                           1.0
28                          120                           1.0
29                           35                           1.5

                               Famous_For
25          Tallest building in the world
26        Clock tower, Westminster Palace
27     Victorian Gothic suspension bridge
28  Official residence of British monarch
29        Art Deco statue of Jesus Christ
Place_Name                      0
Country                         0
City                            0
Annual_Visitors_Millions        0
Type                            0
UNESCO_World_Heritage           0
Year_Built                      0
Entry_Fee_USD                   0
Best_Visit_Month                0
Region                          0
Tourism_Revenue_Million_USD     0
Average_Visit_Duration_Hours    0
Famous_For                      0
dtype: int64

In [10]:
print(df.isnull().sum())
# listing all place names and countries
print(df[["Place_Name","Country"]])

Place_Name                      0
Country                         0
City                            0
Annual_Visitors_Millions        0
Type                            0
UNESCO_World_Heritage           0
Year_Built                      0
Entry_Fee_USD                   0
Best_Visit_Month                0
Region                          0
Tourism_Revenue_Million_USD     0
Average_Visit_Duration_Hours    0
Famous_For                      0
dtype: int64
                 Place_Name               Country
0              Eiffel Tower                France
1              Times Square         United States
2             Louvre Museum                France
3       Great Wall of China                 China
4                 Taj Mahal                 India
5                 Colosseum                 Italy
6         Statue of Liberty         United States
7        Sydney Opera House             Australia
8              Machu Picchu                  Peru
9            Forbidden City                 China
10               Angkor Wat              Cambodia
11     Notre-Dame Cathedral                France
12             Central Park         United States
13          Las Vegas Strip         United States
14    Empire State Building         United States
15       Golden Gate Bridge         United States
16         Lincoln Memorial         United States
17          Sagrada Familia                 Spain
18  Disneyland (California)         United States
19  Magic Kingdom (Orlando)         United States
20             Grand Canyon         United States
21    Great Pyramid of Giza                 Egypt
22    Leaning Tower of Pisa                 Italy
23     Palace of Versailles                France
24                Acropolis                Greece
25             Burj Khalifa  United Arab Emirates
26                  Big Ben        United Kingdom
27             Tower Bridge        United Kingdom
28        Buckingham Palace        United Kingdom
29      Christ the Redeemer                Brazil

In [20]:
# country with most number of famous places
df["Country"].value_counts().idxmax()

'United States'

In [22]:
# famous places count by city
df["City"].value_counts()

City
New York City       4
Paris               3
London              3
Agra                1
Rome                1
Sydney              1
Beijing/Multiple    1
Cusco Region        1
Beijing             1
Las Vegas           1
Siem Reap           1
Washington D.C.     1
Barcelona           1
Anaheim             1
San Francisco       1
Orlando             1
Arizona             1
Pisa                1
Cairo               1
Versailles          1
Athens              1
Dubai               1
Rio de Janeiro      1
Name: count, dtype: int64

In [26]:
# country with most number of visitors
(df.groupby("Country")["Annual_Visitors_Millions"].sum()).idxmax()

'United States'

In [28]:
# all unique place types
df["Type"].unique()

array(['Monument/Tower', 'Urban Landmark', 'Museum', 'Historic Monument',
       'Monument/Mausoleum', 'Monument/Statue', 'Cultural Building',
       'Archaeological Site', 'Historic Palace', 'Temple Complex',
       'Cathedral', 'Park', 'Entertainment District', 'Skyscraper',
       'Bridge', 'Monument/Memorial', 'Theme Park', 'Natural Wonder',
       'Historic Tower', 'Clock Tower', 'Palace'], dtype=object)

In [35]:
# all palces in unesco world heritage
df[df["UNESCO_World_Heritage"]=="Yes"]["Place_Name"]

2             Louvre Museum
3       Great Wall of China
4                 Taj Mahal
5                 Colosseum
6         Statue of Liberty
7        Sydney Opera House
8              Machu Picchu
9            Forbidden City
10               Angkor Wat
11     Notre-Dame Cathedral
17          Sagrada Familia
20             Grand Canyon
21    Great Pyramid of Giza
22    Leaning Tower of Pisa
23     Palace of Versailles
24                Acropolis
26                  Big Ben
Name: Place_Name, dtype: object

In [37]:
# average tourism revenue by country
df.groupby("Country")["Tourism_Revenue_Million_USD"].mean()

Country
Australia                110.00
Brazil                    35.00
Cambodia                  90.00
China                    127.50
Egypt                     40.00
France                   111.25
Greece                    60.00
India                     65.00
Italy                     70.00
Peru                     180.00
Spain                    130.00
United Arab Emirates     350.00
United Kingdom            85.00
United States           1565.00
Name: Tourism_Revenue_Million_USD, dtype: float64

In [39]:
# total visit duration by city
df.groupby("City")["Average_Visit_Duration_Hours"].sum()

City
Agra                 2.0
Anaheim              8.0
Arizona              5.0
Athens               3.0
Barcelona            2.0
Beijing              3.0
Beijing/Multiple     4.0
Cairo                3.0
Cusco Region         8.0
Dubai                2.0
Las Vegas            8.0
London               2.5
New York City        8.0
Orlando             10.0
Paris                7.5
Pisa                 1.5
Rio de Janeiro       1.5
Rome                 2.5
San Francisco        1.0
Siem Reap            6.0
Sydney               1.5
Versailles           4.0
Washington D.C.      1.0
Name: Average_Visit_Duration_Hours, dtype: float64