In [6]:
import pandas as pd
df=pd.read_csv("C:\\Users\\libin_urv2w13\\Desktop\\mljourney\\pandas-works\\customer-behaviour-case-study\\E-commerce Customer Behavior - Sheet1.csv")
print(df.shape)
print(df.columns)
print(df.head())
print(df.tail())

(350, 11)
Index(['Customer ID', 'Gender', 'Age', 'City', 'Membership Type',
       'Total Spend', 'Items Purchased', 'Average Rating', 'Discount Applied',
       'Days Since Last Purchase', 'Satisfaction Level'],
      dtype='object')
   Customer ID  Gender  Age           City Membership Type  Total Spend  \
0          101  Female   29       New York            Gold      1120.20
1          102    Male   34    Los Angeles          Silver       780.50
2          103  Female   43        Chicago          Bronze       510.75
3          104    Male   30  San Francisco            Gold      1480.30
4          105    Male   27          Miami          Silver       720.40

   Items Purchased  Average Rating  Discount Applied  \
0               14             4.6              True
1               11             4.1             False
2                9             3.4              True
3               19             4.7             False
4               13             4.0              True

   Days Since Last Purchase Satisfaction Level
0                        25          Satisfied
1                        18            Neutral
2                        42        Unsatisfied
3                        12          Satisfied
4                        55        Unsatisfied
     Customer ID  Gender  Age         City Membership Type  Total Spend  \
345          446    Male   32        Miami          Silver       660.30
346          447  Female   36      Houston          Bronze       470.50
347          448  Female   30     New York            Gold      1190.80
348          449    Male   34  Los Angeles          Silver       780.20
349          450  Female   43      Chicago          Bronze       515.75

     Items Purchased  Average Rating  Discount Applied  \
345               10             3.8              True
346                8             3.0             False
347               16             4.5              True
348               11             4.2             False
349               10             3.3              True

     Days Since Last Purchase Satisfaction Level
345                        42        Unsatisfied
346                        27            Neutral
347                        28          Satisfied
348                        21            Neutral
349                        49        Unsatisfied

In [12]:
# print(df.isnull().sum())
# renaming all columns
df.rename(columns={"Customer ID":"customer_id","Gender":"gender","Age":"age","City":"city","Membership Type":"membership_type","Total Spend":"total_spend","Items Purchased":"items_purchased","Average Rating":"average_rating","Discount Applied":"discount_applied","Days Since Last Purchase":"days_since_last_purchase","Satisfaction Level":"satisfaction_level"},inplace=True)
df.columns

Index(['customer_id', 'gender', 'age', 'city', 'membership_type',
       'total_spend', 'items_purchased', 'average_rating', 'discount_applied',
       'days_since_last_purchase', 'satisfaction_level'],
      dtype='object')

In [ ]:
# filling 'satisfaction_level' column using 'apply'. x represents each value of 'average_rating'
df["satisfaction_level"]=df["average_rating"].apply(lambda x:"unsatisfied" if x<=4.0 else "neutral" if x>4.0 and x<4.5 else "satisfied")
print(df.isnull().sum())

customer_id                 0
gender                      0
age                         0
city                        0
membership_type             0
total_spend                 0
items_purchased             0
average_rating              0
discount_applied            0
days_since_last_purchase    0
satisfaction_level          0
dtype: int64